
@model Silk_BLUD_Gest.Models.Donations

@{
    ViewBag.Title = "Create";
}

<h2>Registra Donazione</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p>Codice Donatrice: <strong>@ViewBag.DonorID</strong></p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.DonorID, "DonorID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                @Html.EditorFor(model => model.DonorID,new { htmlAttributes = new { @class = "form-control", @value = ViewBag.DonorID, @disabled = "disabled" } })
           
                @Html.ValidationMessageFor(model => model.DonorID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @Html.HiddenFor(model => model.DonorID, new { Value = ViewBag.DonorID })

        <div class="form-group">
            @Html.LabelFor(model => model.FreezingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FreezingDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.FreezingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BottleNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BottleNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BottleNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
