<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="d-flex">
        <div id="sideDiv">
            <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; height: 100vh;">
                <a href="/" class="d-flex justify-content-center mb-2 text-decoration-none">

                    <img src="~/Content/Assets/Silk-Logo.png" alt="Logo Image" width="200px;" />

                </a>
                <span class="mx-auto fw-bold mt-3" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Gestione BLUD</span>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto" id="sideNavBar">
                    <li class="nav-item">
                        <a href="#" class="nav-link link-dark" aria-current="page">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("IndexActive","Donors")" class="nav-link link-dark">
                            Raccolta
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            Donazioni
                        </a>
                    </li>

                </ul>
                <hr>
                <div class="dropdown">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <strong> @User.Identity.Name </strong>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("LogIn","Users")" class="btn btn-blud w-100 fw-bolder text-light">Accedi</a>
                    }

                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                        <li><a class="dropdown-item" href="@Url.Action("Index","Users")">Gestione Utenti</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Logout","Users")">Esci</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-100 body-content" style="height:100vh; overflow-y: scroll; position: relative;">
            <div class="container pt-5 px-4 px-md-2">
                @RenderBody()
            </div>
            <footer style="text-align: end; position:absolute; bottom: 1em; right: 1em;">
                <p class="d-inline-block me-2">&copy; @DateTime.Now.Year - <b>SILK</b> Blud Gest</p>
            </footer>
        </div>
    </div>
  
    
</body>
</html>
