@model IEnumerable<Silk_BLUD_Gest.Models.Donors>

@{
    ViewBag.Title = "IndexActive";
}

<h2>Programmazione Raccolta</h2>


@using (Html.BeginForm())
{
    <h4>Donatrici Attive</h4>
    <table class="table w-75">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>Raccolta confermata</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.CollectionConfirmed, new { htmlAttributes = new { @class = "ConfCheckBox", @value=item.DonorID } })
                </td>
            </tr>
        }

    </table>
    <input id="CollectionConfirm" type="button" value="Conferma" class="btn btn-primary" />
}






<script type="text/javascript">
        $(document).ready(function () {
            var IDList = [];
            $(".ConfCheckBox").change(function ( event ) {

                IDList.push(event.target.value);
                console.log(IDList);
            })

            @*$("#CollectionConfirm").click(function () {
                $.post('@Url.Action("IndexActive")', { IDList: IDList },
                function () {
                    console.log(IDList);
                });
            })*@


        })


</script>