@model IEnumerable<Silk_BLUD_Gest.Models.Donors>

@{
    ViewBag.Title = "IndexActive";
}

<h2>Programmazione Raccolta</h2>


@using (Html.BeginForm())
{
    <h4>Donatrici Attive</h4>
    <table class="table w-75">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>Da raccogliere</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.DonorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    <input class="CollectionBtn btn btn-default ms-auto" value="add" type="button"/>
                </td>
            </tr>
        }

    </table>
    <input id="CollectionConfirm" type="button" value="Conferma" class="btn btn-primary" />
}

<ul id="Confirmed">

</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $(".CollectionBtn").click(function () {
            var row = $(this).closest("TR");
            var name = $("TD", row).eq(1).html();
            var id = $("TD", row).eq(0).html();

            /*console.log(name);*/
            $("#Confirmed").append("<li>"+ id +" - "+ name + "</li>");
        })

        

        $("#CollectionConfirm").click(function () {

        })
    })
</script>

